/* Perfil */

.user-profile {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-icon {
    font-size: 50px;
    color: #212529;
    margin-right: 10px;
}

.user-info h3 {
    margin: 0;
    font-size: 18px;
    color: #6c757d;
}

.user-info p {
    margin: 0;
    color: gray;
    font-size: 14px;
}

/* Logout */

.settings{
    display: flex;
    align-items: center;
}

.profile-icon-logout{
    font-size: 30px;
    color: #212529;
    margin-right: 10px;
}



.father-account{
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;    
    font-family: Arial, sans-serif;
}

.menu-account{
    display: flex;
    flex-direction: column;
}

.img-account {
    width: 50%; /* Ajusta a largura da imagem para preencher completamente o contêiner */
    height: auto; /* Garante que a altura seja ajustada automaticamente */
    border-radius: 5px; /* Adiciona borda arredondada à imagem */
}

.imgEdit-account {
    width: 50%; /* Ajusta a largura da imagem para preencher completamente o contêiner */
    height: auto; /* Garante que a altura seja ajustada automaticamente */
    border-radius: 5px; /* Adiciona borda arredondada à imagem */
    padding-bottom: 10px;
}

.div-view-account{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.div-editButton-account{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editButton-account{
    background-color: #555555;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    cursor: pointer;
    padding: 1px 30px;
    font-weight: 600;
}

.name-account{
    text-align: center;
    margin-top: -2px;
}

.text-account{
    font-size: 13px;
}

.labeltext-account{
    font-size: 13px;
    margin: none;
    padding: none;
}

.ultext-account{
    font-size: 13px;
    margin-top: -2px;
    padding: none;
}

.litext-account{
    font-size: 13px;
    margin: none;
    padding: none;
}

.div-inputs-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.input-account{
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 30px;
    margin: 0px;
    width: 60%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f9fafb;
    box-shadow: 0px 10px 40px #00000056;
    margin: 10px 0;
}

.salvar-account{
    background-color: #555555;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 1px;
    margin-bottom: 20px;
}

.cancel-account{
    background-color: #555555;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 1px;
    margin-bottom: 20px;
}

.completdata{
    display: none;
}

.divshareLink-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -20px;
}

.share-button{
    background-color: #975100;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: -16px;
    margin-bottom: 20px;
}