.father-createProduct{
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    text-align: center;
}

.createProductButton-account{
    background-color: #975100;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 30px;
}

.createButton-createProductNew{
    background-color: #f9fafb;
    border: none;
    border-radius: 25px;
    color: #212529;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 10px;
}

.createAccount{
    background-color: #212529;
    border: none;
    border-radius: 25px;
    color: #f9fafb;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
}

.searchEmail{
    background-color: #212529;
    border: none;
    border-radius: 25px;
    color: #f9fafb;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 30px;
}



.title-createProduct{
    text-align: center;
}

.labelnome-createProduct{
    font-size: 15px;
    font-weight: 600;
}

.inputtext-createPreUser{
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 30px;
    margin-bottom: 5px;
}

.inputtext-createProduct{
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #313235;
    font-size: 10pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.div-categoria-e-createButton-createProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createButton-createProduct{
    background-color: #212529;
    box-shadow: 0px 10px 40px -12px #fdfffe49;
    width: 60%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
}

.cancelButton-createProduct{
    background-color: #583002;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 20px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
}

.select-categorias-createProduct{
    background-color: #583002;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 4px;
}

.option-categorias-createProduct{
    background-color: none;
    border: none;
    border-radius: 50px;
}

