.div-dashboard{
    display: flex;
    flex-direction: row;
    
}

.div-createProduto-categoria-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 60px;
    background-color: #8b4b02;
    margin-left: 15px;   
}