.father-dashboard{
    display: flex;
    flex-direction: row;
}

.barra-lateral-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #583002;
    color: #ffffff;
    border-radius: 0px 50px 50px 0px;
    padding-right: 2%;
    margin-right: 1%;
    padding-left: 10px;
    padding-bottom: 3%;
    height: 100vh; /* Altura igual à altura da viewport */
}

.div-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2px;
}

.div-createProduto-categoria-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 0px;
    margin-left: 15px;   
}

.MeusprodutosButton-dashboard{
    background-color: #975100;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 15px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 12px;
}

.CreateButton-dashboard{
    background-color: #975100;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 25px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 10px;
}

.CategoriaButton-dashboard{
    background-color: #975100;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 40px; /* Ajuste o padding horizontal conforme necessário */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    display: inline-block; /* Garante que o botão tenha a largura necessária para o conteúdo */
    line-height: 1; /* Mantém o texto centralizado verticalmente */
    margin-top: 10px;
}

.divComponente-dashboard{
    display: flex;
    flex-direction: row;
    background-color: black;
}