.manageProduct-father {
    display: flex;
    flex-direction: row;
    padding-right: 12px;
}

.dadosExibidos-manageProduct{

}

.inputEdit-manageProduct{

}

.input-manageProduct{
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 30px;
    margin: 2px;
    width: 100%; /* Ajusta a largura da imagem para preencher completamente o contêiner */
    min-width: 100%; /* Define uma largura mínima para os itens */
    max-width: 150%; /* Define uma largura máxima para os itens */
}

.salvarButton-manageProduct{
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton-manageProduct{
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui os itens uniformemente nas linhas */
    gap: 20px;
}

.product-item {
    width: calc(25% - 20px); /* Ajuste para garantir que haja espaço suficiente para 4 itens por linha */
    min-width: 200px; /* Define uma largura mínima para os itens */
    max-width: 25%; /* Define uma largura máxima para os itens */
    border: none;
    padding: 20px;
    background-color: #583002;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Garante que o padding e a borda não aumentem a largura do item */
}

.img-product-manageProduct {
    width: 100%; /* Ajusta a largura da imagem para preencher completamente o contêiner */
    height: auto; /* Garante que a altura seja ajustada automaticamente */
    border-radius: 5px; /* Adiciona borda arredondada à imagem */
}



.title-manageProduct{
    text-align: center;
}

.select-categorias-manageProduct{
    background-color: #583002;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 4px;
}

.option-categorias-manageProduct{
    background-color: none;
    border: none;
    border-radius: 50px;
}

.div-buttons-manageProduct{
    display: flex;
    justify-content: space-between;
}

.editButton-manageProduct{
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton-manageProduct{
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.fileUpload-upload_s3{
    font-size: 10px;
}