.manageProduct-father {
    display: flex;
    flex-direction: row;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Distribui os itens uniformemente nas linhas */    
}

.product-item {
    width: calc(30% - 20px); /* Ajuste para garantir que haja espaço suficiente para 3 itens por linha */
    min-width: 200px; /* Define uma largura mínima para os itens */
    max-width: 30%; /* Define uma largura máxima para os itens */
    flex-grow: 1; /* Permite que os itens cresçam para ocupar o espaço disponível */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #583002;
    border-radius: 5px;
    border: none;
}


.title-manageProduct{
    text-align: center;
}

.select-categorias-manageProduct{
    background-color: #583002;
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 4px;
}

.option-categorias-manageProduct{
    background-color: none;
    border: none;
    border-radius: 50px;
}

.div-buttons-manageProduct{
    display: flex;
    justify-content: space-between;
}

.editButton-manageProduct{
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton-manageProduct{
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
}